# ----- PinCPU -----
# TODO: Should share.
%if !defined %{monitor_wrapper}
%   define monitor_wrapper ${command}
%endif
default:
    #   monitor_wrapper = /home/nmosier/pincpu/cpu2017/exec.sh --benchmark=${benchmark} --workload=${workload} -- ${command}
    monitor_wrapper = %{monitor_wrapper}
    monitor_specrun_wrapper = %{monitor_specrun_wrapper}

%define llvm_dir "%{ENV_HOME}/pincpu/llvm/build"
